<div class="main">
  <div class="header-container">
    <h1>Jogo da Memória</h1>
  </div>

  <div class="info-container">
    <h2>Jogador: {{ player?.name ? player?.name : '-' }}</h2>

    <h3>Rodada: {{ round }}</h3>

    <div class="button-row">
      <button mat-raised-button (click)="openDialog()">Mudar jogador</button>
      <button mat-raised-button color="primary" (click)="newRound()">Nova rodada</button>
    </div>
  </div>

  <div class="card-container">
    <div class="card-wrapper">
      <div
        class="flip-card"
        *ngFor="let item of cards; let i = index"
        (click)="onClickCard(item, i)"
        [ngClass]="{ visible: item.visible, selected: item.selected }"
      >
        <div class="flip-card-inner">
          <div class="flip-card-back">{{ item.value }}</div>
          <div class="flip-card-front">?</div>
        </div>
      </div>
    </div>
  </div>

  <div class="rank-container">
    <h2>Ranking</h2>

    <app-scorecard [rankList]="ranking"></app-scorecard>
  </div>
</div>
